  .leaflet-marker-icon {
  @apply shadow-none bg-transparent !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-marker-icon,
.leaflet-marker-shadow {
    @apply shadow-none;
}
/* Hide horizontal scroll and make vertical scroll minimal */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}